<!DOCTYPE html>
<html>
  <head>
    <title>ShortUrlGenerator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= form_tag('/urls', method: 'post') do %>
      <%= text_field_tag 'url' %>
      <%= submit_tag 'Submit' %>
    <% end %>
  </body>
</html>
